html{
	height: 100%;
}

body{
	margin: 0;
	font-family: Helvetica;
	font-size: 13px;
}

#logo{
	margin: 0 auto;
	display: block;
	padding-top: 100px;

}

a {
	color: #737373;
	text-decoration: none;
}

.header-container {
	text-align: center;
	width: auto;
	height: 40px;
}
.header-container div {
	float: right;
	margin-right: 20px;
	height: 100%;
	position: relative;
  	top: 50%;
}

#circle-img {
	width: 30px;
	border-radius: 30px;
	margin-bottom: 10px;
	position: relative;
	bottom: 5px;
}


img {
	width: 400px;
	margin: 0 auto;
	display: block;
}

form {
	text-align: center;
}

input {
	width: 400px;
	height: 30px;
	border-color: #ECECEC;
	border-width: .5px;
	padding-left: 5px;
	padding-right: 5px;
}

button {
	border: none;
	background-color: #ECECEC;
	padding: 8px;
	margin-right: 5px;
	font-weight: bold;
	font-size: 12px;
	color: #737373;
}

.button_div{
	margin-top: 30px;
}

button:hover{
	color: #000000;
	border-color: #737373;
};

.footer-container {
	text-align: center;
	width: auto;
	height: 40px;
	bottom: 0;
}

.footer {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background-color: #ECECEC;
	position:fixed;
	bottom: 0;

	width: 100%;
	height: 40px;
}

#footer_right li {
	margin-right: 15px;
	display: block;
	float: right;
	margin-top: 12px;
}

#footer_left li {
	margin-left: 15px;
	display: block;
	float: left;
	margin-top: 12px;
}